# Server
PORT=3000
NODE_ENV=development

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=mukesh_sport
DB_USER=postgres
DB_PASSWORD=denial

# JWT
JWT_SECRET=your_jwt_secret_here_change_in_production

# App
APP_URL=http://localhost:3000
